---
import LayoutPag from "../layouts/Layout-pag.astro";
import Coca from '../productos/bebida/coca-zero.png';
import Fanta from '../productos/bebida/fanta-naranja.png';
import Lipton from '../productos/bebida/lipton.png';
import Fresa from '../productos/bebida/fresa.png';
import Mango from '../productos/bebida/mango.png';
import Bosque from '../productos/bebida/bosque.png';
import Limon from '../productos/bebida/limon.png';
import Sake from '../productos/bebida/sake.png';
---

<LayoutPag title="Boku no Coffee | Bebidas">
    <main>
        <section id="selector">
            <a href="#refrescos"><button>Refrescos</button></a>
            <a href="#batidos"><button>Batidos</button></a>
            <a href="#alcohol"><button>Alcohol</button></a>
        </section>
        <section id="body">
            <article class="refrescos">
                <h1 id="refrescos">Refrescos</h1>
                <div class="container">
                    <h2>Coca-cola Zero</h2>
                    <p>Precio: 2.50€</p>
                    <img src={Coca.src} alt="coca-zero">
                </div>
                <div class="container">
                    <h2>Fanta naranja</h2>
                    <p>Precio: 2.00€</p>
                    <img src={Fanta.src} alt="fanta-naranja">
                </div>
                <div class="container">
                    <h2>Lipton</h2>
                    <p>Precio: 2.00€</p>
                    <img src={Lipton.src} alt="lipton">
                </div>
            </article>
            <article class="batidos">
                <h1 id="batidos">Batidos</h1>
                <div class="container">
                    <h2>Batido de fresa</h2>
                    <p>Precio: 5.00€</p>
                    <img src={Fresa.src} alt="fresa">
                </div>
                <div class="container">
                    <h2>Batido de mango</h2>
                    <p>Precio: 5.50€</p>
                    <img src={Mango.src} alt="mango">
                </div>
                <div class="container">
                    <h2>Batido de frutas del bosque</h2>
                    <p>Precio: 6.00€</p>
                    <img src={Bosque.src} alt="frutas-bosque">
                </div>
            </article>
            <article class="alcohol">
                <h1 id="alcohol">Alcohol</h1>
                <div class="container">
                    <h2>Cerveza de limón</h2>
                    <p>Precio: 1.80€</p>
                    <img src={Limon.src} alt="cerveza-limón">
                </div>
                <div class="container">
                    <h2>Sake</h2>
                    <p>Precio: 4.50€</p>
                    <img src={Sake.src} alt="sake">
                </div>
            </article>
        </section>
    </main>
</LayoutPag>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

    main{
        width: 100%;
        height: 275vh;
        display: flex;
        flex-direction: row;
        font-family: "Rajdhani", sans-serif;
    }

    #selector{
        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        top: 35%;
        width: 25%;
    }

    #selector a button{
        width: 100%;
        background: linear-gradient(to bottom, #f08ae3, #5ac2a3 50%);
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: "Rajdhani", sans-serif;
        padding: 20px;
    }

    #selector a{
        margin: 10px;
        width: 65%;
        transition: all 0.3s ease-out;
    }

    #selector a:hover{
        scale: 1.2;
        margin-left: 50px;
    }

    #body{
        display: flex;
        justify-content: end;
        flex-direction: column;
        width: 75%;
        margin-left: 20%;
        position: relative;
        top: -8%;
    }

    article{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 10%;
    }

    article h1{
        color: #f08ae3;
        font-size: 40px;
        position: relative;
        top: -10%;
        left: 10%;
    }

    .container{
        background: #902576;
        color: #fff;
        border: none;
        border: 1px solid #f08ae3;
        border-radius: 15px;
        width: 50%;
        margin: 50px;
        padding: 10px 0 30px 0px;
        transition: all 0.3s ease-in-out;
    }

    .container:hover{
        scale: 1.1;
    }

    .container h2{
        position: relative;
        left: 20%;
    }

    .container p{
        position: relative;
        top: 75%;
        padding: 10px;
    }

    .container img{
        width: 100%;
        padding: 20px;
    }

    @media (width < 500px){
        main{
            height: 845vh;
        }

        #selector{
            flex-direction: row;
            top: 13%;
            left: 12.5%;
            width: 75%;
            z-index: 2;
        }

        #selector a button{
            font-size: 25px;
        }

        #body{
            width: 100%;
            margin-left: 0;
            top: 0;
            flex-direction: column;
        }

        article{
            flex-direction: column;
        }

        article h1{
            font-size: 75px;
            top: 0;
        }

        .container{
            width: 100%;
            font-size: 25px;
        }
    }

    @media (width < 400px){
        main{
            height: 970vh;
        }
    }

    @media (width < 380px) and (height < 670px){
        main{
            height: 1093vh;
        }
    }
</style>