---
import LayoutPag from "../layouts/Layout-pag.astro";
import Pollo from '../productos/comida/pollo.png';
import Mechada from '../productos/comida/mechada.png';
import Tortilla from '../productos/comida/tortilla.png';
import Kiku from '../productos/comida/kiku.png';
import Sakura from '../productos/comida/sakura.png';
import Kimchi from '../productos/comida/kimchi.png';
import Pato from '../productos/comida/pato.png';
import Tonkotsu from '../productos/comida/tonkotsu.png';
import Ebi from '../productos/comida/ebi.png';
---

<LayoutPag title="Boku no Coffee | Comida">
    <main>
        <section id="selector">
            <a href="#bocadillos"><button>Bocadillos</button></a>
            <a href="#arroz"><button>Arroz</button></a>
            <a href="#ramen"><button>Ramen</button></a>
        </section>
        <section id="body">
            <article class="bocadillos">
                <h1 id="bocadillos">Bocadillos:</h1>
                <div class="container">
                    <h2>Pollo especial</h2>
                    <p>Precio: 3.50€</p>
                    <img src={Pollo.src} alt="pollo-especial">
                </div>
                <div class="container">
                    <h2>Carne mechada</h2>
                    <p>Precio: 4.50€</p>
                    <img src={Mechada.src} alt="mechada">
                </div>
                <div class="container">
                    <h2>Tortilla española</h2>
                    <p>Precio: 5.00€</p>
                    <img src={Tortilla.src} alt="tortilla-española">
                </div>
            </article>
            <article class="arroz">
                <h1 id="arroz">Arroz:</h1>
                <div class="container">
                    <h2>Arroz Kiku</h2>
                    <p>Precio: 9.00€</p>
                    <img src={Kiku.src} alt="kiku">
                </div>
                <div class="container">
                    <h2>Arroz Sakura</h2>
                    <p>Precio: 8.00€</p>
                    <img src={Sakura.src} alt="sakura">
                </div>
                <div class="container">
                    <h2>Kimchi Don</h2>
                    <p>Precio: 9.50€</p>
                    <img src={Kimchi.src} alt="kimchi-don">
                </div>
            </article>
            <article class="ramen">
                <h1 id="ramen">Ramen:</h1>
                <div class="container">
                    <h2>Ramen de pato</h2>
                    <p>Precio: 12.50€</p>
                    <img src={Pato.src} alt="ramen-pato">
                </div>
                <div class="container">
                    <h2>Ebi ramen</h2>
                    <p>Precio: 13.00€</p>
                    <img src={Ebi.src} alt="ebi-ramen">
                </div>
                <div class="container">
                    <h2>Tonkotsu ramen</h2>
                    <p>Precio: 10.00€</p>
                    <img src={Tonkotsu.src} alt="tonkotsu-ramen">
                </div>
            </article>
        </section>
    </main>
</LayoutPag>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

    main{
        width: 100%;
        height: 275vh;
        display: flex;
        flex-direction: row;
        font-family: "Rajdhani", sans-serif;
    }

    #selector{
        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        top: 35%;
        width: 25%;
    }

    #selector a button{
        width: 100%;
        background: linear-gradient(to bottom, #f08ae3, #5ac2a3 50%);
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: "Rajdhani", sans-serif;
        padding: 20px;
    }

    #selector a{
        margin: 10px;
        width: 65%;
        transition: all 0.3s ease-out;
    }

    #selector a:hover{
        scale: 1.2;
        margin-left: 50px;
    }

    #body{
        display: flex;
        justify-content: end;
        flex-direction: column;
        width: 75%;
        margin-left: 20%;
        position: relative;
        top: -8%;
    }

    article{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 10%;
    }

    article h1{
        color: #f08ae3;
        font-size: 40px;
        position: relative;
        top: -10%;
        left: 10%;
    }

    .container{
        background: #902576;
        color: #fff;
        border: none;
        border: 1px solid #f08ae3;
        border-radius: 15px;
        width: 50%;
        margin: 50px;
        padding: 10px 0 30px 0px;
        transition: all 0.3s ease-in-out;
    }

    .container:hover{
        scale: 1.1;
    }

    .container h2{
        position: relative;
        left: 20%;
    }

    .container p{
        position: relative;
        top: 75%;
        padding: 10px;
    }

    .container img{
        width: 100%;
        padding: 20px;
    }

    @media (width < 500px){
        main{
            height: 815vh;
        }

        #selector{
            flex-direction: row;
            top: 13%;
            left: 12.5%;
            width: 75%;
            z-index: 2;
        }

        #selector a button{
            font-size: 25px;
        }

        #body{
            width: 100%;
            margin-left: 0;
            top: 0;
        }

        article{
            flex-direction: column;
        }

        article h1{
            font-size: 75px;
            top: 0;
        }

        .container{
            width: 100%;
            font-size: 25px;
        }
    }

    @media (width < 400px){
        main{
            height: 945vh;
        }
    }

    @media (width < 380px) and (height < 670px){
        main{
            height: 1060vh;
        }
    }
</style>