---
import LayoutPag from "../layouts/Layout-pag.astro";
import Arandanos from '../productos/postre/arandanos.png';
import Manzana from '../productos/postre/manzana.png';
import Chocolate from '../productos/postre/chocolate.png';
import Mochis from '../productos/postre/mochis.png';
import Dorayaki from '../productos/postre/dorayaki.png';
import Taiyaki from '../productos/postre/taiyaki.png';
---

<LayoutPag title="Boku no Coffee | Postres">
    <main>
        <section id="selector">
            <a href="#tartas"><button>Tartas</button></a>
            <a href="#dulces"><button>Dulces</button></a>
        </section>
        <section id="body">
            <div class="tartas">
                <h1 id="tartas">Tartas</h1>
                <div class="container">
                    <h2>Tarta de arandanos</h2>
                    <p>Precio: 3.50€</p>
                    <img src={Arandanos.src} alt="tarta-arandanos">
                </div>
                <div class="container">
                    <h2>Tarta de manzana</h2>
                    <p>Precio: 4.50€</p>
                    <img src={Manzana.src} alt="tarta-manzana">
                </div>
                <div class="container">
                    <h2>Tarta de chocolate</h2>
                    <p>Precio: 5.00€</p>
                    <img src={Chocolate.src} alt="tarta-chocolate">
                </div>
            </div>
            <div class="dulces">
                <h1 id="dulces">Dulces</h1>
                <div class="container">
                    <h2>Mochis / 4</h2>
                    <p>Precio: 3.00€</p>
                    <img src={Mochis.src} alt="mochis">
                </div>
                <div class="container">
                    <h2>Dorayakis / 2</h2>
                    <p>Precio: 2.50€</p>
                    <img src={Dorayaki.src} alt="dorayaki">
                </div>
                <div class="container">
                    <h2>Taiyaki</h2>
                    <p>Precio: 4.00€</p>
                    <img src={Taiyaki.src} alt="taiyaki">
                </div>
            </div>
        </section>
    </main>
</LayoutPag>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

    main{
        width: 100%;
        height: 150vh;
        display: flex;
        flex-direction: row;
        font-family: "Rajdhani", sans-serif;
    }

    #selector{
        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        top: 35%;
        width: 25%;
    }

    #selector a button{
        width: 100%;
        background: linear-gradient(to bottom, #f08ae3, #5ac2a3 50%);
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: "Rajdhani", sans-serif;
        padding: 20px;
    }

    #selector a{
        margin: 10px;
        width: 65%;
        transition: all 0.3s ease-out;
    }

    #selector a:hover{
        scale: 1.2;
        margin-left: 50px;
    }

    #body{
        display: flex;
        justify-content: end;
        flex-direction: column;
        width: 75%;
        margin-left: 20%;
        position: relative;
        top: -8%;
    }

    div{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 10%;
    }

    div h1{
        color: #f08ae3;
        font-size: 40px;
        position: relative;
        top: -10%;
        left: 10%;
    }

    .container{
        background: #902576;
        color: #fff;
        border: none;
        border: 1px solid #f08ae3;
        border-radius: 15px;
        width: 50%;
        margin: 50px;
        padding: 10px 0 30px 0px;
        transition: all 0.3s ease-in-out;
    }

    .container:hover{
        scale: 1.1;
    }

    .container h2{
        position: relative;
        left: 20%;
    }

    .container p{
        position: relative;
        top: 75%;
        padding: 10px;
    }

    .container img{
        width: 100%;
        padding: 20px;
    }

    @media (width < 500px){
        main{
            height: 525vh;
        }

        #selector{
            flex-direction: row;
            top: 13%;
            left: 12.5%;
            width: 75%;
            z-index: 2;
        }

        #selector a button{
            font-size: 25px;
        }

        #body{
            width: 100%;
            margin-left: 0;
            top: 0;
        }

        div{
            flex-direction: column;
        }

        div h1{
            font-size: 75px;
            top: 0;
        }

        .container{
            width: 100%;
            font-size: 25px;
        }

        .container p{
            top: 65%;
        }
    }

    @media (width < 400px){
        main{
            height: 615vh;
        }

        .container h2{
            font-size: 25px;
        }
    }

    @media (width < 380px) and (height < 670px){
        main{
            height: 655vh;
        }
    }
</style>